.pos{
    padding: 50px;
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50;
}
.white{
    background-color: rgba(106, 118, 144, 0.711);
    border-radius: 15px;
}

body{
    font-family: "Roboto Condensed";
    background-image: url(../image/迪背景3-01.png);
    background-size: 100% 100%;
    background-size: cover;
    
    
}

h1{
    text-align: center;
    padding-top: 20px;
    color: #ffffff;
   
}
#main_menu{
    list-style: none;
    padding: 0px;
}
#main_menu li{
    display: inline-block;
}
#main_menu li a{
    display: block;
    padding: 10px 50px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#main_menu li a:hover{
    color: rgb(230, 149, 149);
}
h2{
    padding-top: 0px;
    position: absolute;
}
h3{
    padding-left: 85%;
    padding-top: 0;
    position: absolute;
    
    
}
nav{
    text-align: center;
}
p{
    text-align: center;
    font-family: Microsoft Yahei;
    font-size: 20px;
    padding-top: 0px;
    color: #ffffff;
}




.contact ul{
    padding: 0;
    list-style: none;
}

.contact ul li{
    display: inline-block;
    font-size: 40px;
    padding: 15px 30px;
}

.contact ul li a{
    color: #ffe6e6;
}

.contact ul li a:hover{
    color: #e19e9e;
}