
body{
    font-family: "Roboto Condensed";
    background-image: url(../image/迪背景4-01.png);
    background-size: 100% 100%;
    background-size: cover;
   
}

h1{
    text-align: center;
   
}
#main_menu{
    list-style: none;
    padding: 0px;
}
#main_menu li{
    display: inline-block;
}
#main_menu li a{
    display: block;
    padding: 10px 50px;
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#main_menu li a:hover{
    color: rgb(235, 168, 168);
}
nav{
    text-align: center;
}

h2{
    font-size: 24px;
    color: #ffffff;
}
p{
    color: #ffffff;
}

h3{
    position: absolute;
    padding-left: 200px;
    padding-top: 30px;
}
h4{
    position: absolute;
    padding-left: 33%;
    padding-top: 200px;
}
h5{
    position: absolute;
    padding-left: 200px;
    padding-top: 350px;
}
h6{
    position: absolute;
    padding-left: 33%;
    padding-top: 500px;
}
.zero img{
    border-radius: 50px;
}

.d5 img {
    position: absolute;
    opacity: 0;
    z-index: 1;
-webkit-transition:0.3s ease-out;
  
}
  
.d5  img:hover {
    position: absolute;
    opacity: 1.0;
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
}


*/
ul{
    margin: 500px auto 0;
    padding: 100px;
    width: 600px;
    display: flex;
    position: absolute;
    padding-left: 100px;
}
ul li{
    list-style: none;
    
}
ul li .imageBox{
    width: 1400px;
    height: 285px;
    box-sizing: border-box;
    padding: 0 10px;
    
    
}
ul li .imageBox figure{
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}


ul li .imageBox figure:before{
    left: -50%;
}
ul li .imageBox :hover figure:before{
    left: 0%;
}
ul li .imageBox figure:after{
    right: -50%;
}
ul li .imageBox :hover figure:after{
    right: 0%;
}
ul li .imageBox figure img{
    width: 18%;
    height: 18%;
    padding-left: 83%;
    padding-top: 17px;
}
ul li .imageBox figure figcaption{
    position: absolute;
    top: 220px;
    left: 950px;
    bottom: 320px;
    right: 220px;
    background: #d38585c5;
    text-align: center;
    padding: 0px;
    opacity: 0;
    transition: .5s;
    transition-delay: .5s;
    transform: translateY(-20px);
    z-index: 1;
    border-radius: 10px;
}
ul li .imageBox :hover figcaption{
    opacity: 1;
    transform: translateY(0px);
}
ul li .imageBox figure figcaption p{
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}
.text{
    padding: 10px;
    text-align: justify;
}             